<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.nyp.irarphotodiary" >

    <!-- user permission declaration -->
    <!-- Include following permission if you load images from Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Include following permission if you want to allow UIL to cache images on SD card -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Request permission to use a device camera. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Request permission for GPS location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Required by Google Map -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.vogella.android.locationapi.maps.permission.MAPS_RECEIVE" />

    <!-- user feature declaration -->
    <!-- for BeyondAR -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-feature android:name="android.hardware.sensor.compass" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="sg.edu.nyp.irarphotodiary.application.BootstrapApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- activity declarations -->
        <activity
            android:name="sg.edu.nyp.irarphotodiary.activity.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="sg.edu.nyp.irarphotodiary.activity.LoginActivity" />
        <activity android:name="sg.edu.nyp.irarphotodiary.activity.NavigationActivity" />
        <activity
            android:name="sg.edu.nyp.irarphotodiary.activity.CreateStoryActivity"
            android:label="@string/title_activity_create_story"
            android:parentActivityName="android.support.v4.app.FragmentActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v4.app.FragmentActivity" />
        </activity>
        <activity
            android:name="sg.edu.nyp.irarphotodiary.activity.CreateStoryListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="sg.edu.nyp.irarphotodiary.activity.ViewStoryActivity"
            android:label="@string/title_activity_view_story" />

        <!-- meta data declarations -->
        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://413734277452647:oR5axeqCqSYPepzFua2s9CI2M_w@dxspdhqz3" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAAC1WLzXCO890r4O2YMTAINYB_14vucSs" />
        <meta-data
            android:name="alternate-map-key"
            android:value="AIzaSyBwVvzmfnOP6HWeP-b0xi3qCl1NCNySiRU" />

        <activity
            android:name="sg.edu.nyp.irarphotodiary.activity.ARActivity"
            android:label="@string/title_activity_ar" />
        <activity
            android:name="sg.edu.nyp.irarphotodiary.activity.GoogleMapActivity"
            android:label="@string/title_activity_google_map" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
    </application>

</manifest>
